<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
  </head>
  <body>
    {{! some how i can't use partials, don't know why }}
    {{!-- {{> header }} --}}
    <header>Header</header>
    <nav>
      <a href="/kill-me">hahahaa</a>
      <a href="/">going back</a>
    </nav>
    {{{body}}}
    <footer>Footer</footer>
    {{!-- {{> footer }} --}}
  </body>
</html>